@using MyProject.Models;
@using PagedList;
@using PagedList.Mvc;
@using System.Collections;
@using System.Web.Mvc.Html;
@using System.Web.Helpers;
@using System.Web.ModelBinding;

@{
    ViewBag.Title = "ProductList";
    ArrayList list = ViewData["list"] as ArrayList;
  //  var data = ViewBag.data;

}


<h2>ProductList</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Product Id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Category Id</th>
            <th scope="col">Category Name</th>
        </tr>
    </thead>
    <tbody>
        
            @{
                foreach (Data f in (IEnumerable<Data>)ViewBag.data)
                {
                    <tr>
                        <td>@f.ProductId<td>
                        <td>@f.ProductName</td>
                        <td>@f.CategoryId</td>
                        <td>@f.CategoryName</td>
                    </tr>
                }
              }                    
    </tbody>
</table>

Page@(ViewBag.TotalPages<Model.PageNumber ? 0 : ViewBag.PageNumber)/@ViewBag.TotalPage
<div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
