@using MyProject.Models;
@using PagedList;
@using PagedList.Mvc;
@using System.Collections;
@{
    ViewBag.Title = "ProductList";
    ArrayList list = ViewData["list"] as ArrayList;

   
}


<h2>ProductList</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Product Id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Category Id</th>
            <th scope="col">Category Name</th>
        </tr>
    </thead>
    <tbody>
        
            @{
                foreach (var f in ViewBag.data)
                {
                    <tr>
                        <td>@f.ProductId</td>
                        <td>@f.ProductName</td>
                        <td>@f.CategoryId</td>
                        <td>@f.CategoryId</td>
                    </tr>
                }
              }                    
    </tbody>
</table>

Page@(Model.TotalPages<Model.PageNumber ? 0 : Model.PageNumber)/@Model.TotalPage
<div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
